<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>CAR</title>
</head>
<body>
<form action="/car5" th:object="${command}" method="GET" >
  <center>
    Equipment: <input type="text" th:field="*{textareaField}" list="car" autocomplete="off"/>
    <datalist id="car">
        <span th:each="e : ${Equ}">
        <option th:utext="${e.name}"></option>
        </span>
    </datalist>
    <input type="Submit" Value="Dalej" /></center>
</form>
</body>
</html>